body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
}
h1 {
	margin-bottom: 0;
	color: white;
}
.breadcrumb {
	font-size: 14px;
}
.right {
	font-weight: bold;
	width: 140px;
	float: right;
	line-height: 96px;
	transition-duration: 0.5s;
	cursor: pointer;
}
.login_box {
	margin-top: 200px;
}
.right:hover {
	background-color: #0019ff;
	color: white;
	text-decoration: none;
}
.right_new {
	font-weight: bold;
	width: 140px;
	float: right;
	line-height: 96px;
	transition-duration: 0.5s;
	cursor: pointer;
	color: red;
}
.right_new:hover {
	background-color: red;
	color: white;
	text-decoration: none;
}
.right_edit {
	font-weight: bold;
	width: 140px;
	float: right;
	line-height: 96px;
	transition-duration: 0.5s;
	cursor: pointer;
}
.right_edit:hover {
	background-color: green;
	color: white;
	text-decoration: none;
}
.dropdown-item:hover {
	background-color: orange;
	color: white;
}
.create_btn {
	color: #551a8b;
}
.back_btn {
	color: #551a8b;
}
.post_link {
	font-size: 18px;
	transition-duration: 0.19s;
}
.post_link:hover {
	background-color: #00edff;
	color: white;
	text-decoration: none;
}
.post-title {
	font-size: 48px;
	color: #333;
}
.edit {
	font-size: 12px;
}
.comment_body {
	height: 100px;
}
.error {
	color: white;
	background-color: red;
	font-size: 14px;
	padding: 0 4px;
}
.header {
	background-color: #2188ff;
}
.header_new {
	background-color: orange;
}
.header_edit {
	background-color: #00d400;
}
.success_msg {
	color: white;
	background: red;
	font-weight: bold;
	font-size: 24px;
}
.success_area {
	height: 20px;
}
.comment {
	font-size: 14px;
	color: #666;
}
.comment_created_at {
	font-size: 12px;
	color: #666;
}
.comment_icon {
	height: 20px;
	width: 20px;
	transition-duration: 0.2s;
}
.comment_icon:hover {
	opacity: 0.5;
}
.alert {
	background-color: red;
	color: white;
}
.tag {
	background: #eee;
}
.tag_list {
	list-style: none;
	font-size: 14px;
}
#tags {
	width: 30px;
}
.bottom-spacer {
	margin-bottom: 200px;
}
.post-body {
	min-height: 200px;
	font-size: 18px;
}
/*#54cddd*/
/*#41c9b4*/
